@import '../../../../../styles.scss';

button {
    background: $puprle;
    color: $white;
    padding: 10px 20px;
    min-width: 100px;
    border: none;
    border-radius: $border-radius;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}

button:hover {
    background: $puprle-dark;
}

button:disabled {
    background: $puprle-disabled;
}
