$border-radius: 4px;
$puprle: #5a1094;
$puprle-dark: #360a58;
$puprle-disabled: #a68eb8;
$grey: #c9c9c9;
$pink: #FF1876;
$white: white;
$fon-blue: #dee2eb;

.shadow {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $fon-blue;
}

body {
    margin: 0px;
    padding: 0px;
}
